
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
</head>
<body>
    <div> 
        10+29={{10+29}}
    </div>
</body>
</html>
